page {
  height: 100%;
}

.whole {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titleBar {
  height: 100rpx;
  padding: 0rpx 20rpx 0rpx 20rpx;
  display: flex;
  font-size: 40rpx;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  .orderState {
    height: 100%;
    width: 180rpx;
    text-align: center;
    border-top: 20rpx solid transparent;
    padding: 0rpx 20rpx 0rpx 20rpx;
    box-sizing: border-box;
  }

  .orderState.active {
    border-top: 20rpx solid rgb(140, 228, 255);
  }
}

.historyOrders {
  flex-shrink: 1;
  overflow: auto;
}

.singleOrder {
  display: flex;
  flex-direction: column;
  padding: 20rpx;
  justify-content: space-between;
  background-color: rgb(228, 228, 255);

  .orderTime {
    font-size: 30rpx;
  }

  .orderDetail {
    text-align: right;
    display: flex;
    justify-content: space-between;


    .price {
      text {
        font-size: 30rpx;
      }

      font-size: 40rpx;
    }

    .amount {
      font-size: 34rpx;
      color: rgb(124, 124, 124)
    }
  }



  .nextStep {
    display: flex;
    justify-content: flex-end;

    .next{
      border-radius: 20rpx;
      height: 60rpx;
      line-height: 60rpx;
      padding: 0rpx 10rpx 0rpx 10rpx;
    }

    .orderFinished {
      background-color: rgb(156, 255, 222);
    }

    .orderUnpaid {
      background-color: rgb(255, 252, 210);
    }

    .orderPaid {
      background-color: rgb(255, 162, 119);
    }
  }
}


.monoPic {
  display: flex;
  align-items: flex-start;
  font-size: 45rpx;

  view {
    padding: 20rpx 0rpx 0rpx 10rpx;

    image {
      border-radius: 10rpx;
      width: 140rpx;
      margin: auto;
    }
  }
}

.multiPic {
  display: flex;
  align-items: flex-start;
  font-size: 45rpx;

  .dish {
    padding: 20rpx 15rpx 0rpx 0rpx;
    width: 130rpx;

    image {
      border-radius: 10rpx;
      width: 100%;
      margin: auto;
    }

    .dishName {
      width: 100%;
      font-size: 25rpx;
      text-align: center;
    }
  }

  .abbr {
    align-self: center;
  }
}